/* * {
    line-height: 1;
}

.number__child {
    padding-left: 40px;
}

.number__parent:nth-of-type(3n) {
    color: red;
}

.number__child:nth-of-type(n+2) {
    color: blue;
}

h2 {
    font-family: "Noto Serif JP", serif;
}

.background-img {
    background-image: url(../img/red.jpg);
    background-size: 300px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

* {
    padding: 0;
    margin: 0;
}

.bg {
    background: url("../img/firstview.jpg") no-repeat bottom;
    background-size: cover;
     高さを指定
    height: 700px;
} */

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content {
    width: 500px;
    height: 500px;
}

.red-box {
    background-color: red;
    width: 100%;
    height: 50%;
}

.blue-box {
    background-color: blue;
    width: 100%;
    height: 50%;
} */

/* .red {
    background-color: red;
    width: 400px;
    height: 200px;
    margin: 50px auto;

} */

/* .kakumaru {
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 60px 0 60px 0;
    margin: 20px;
} */

/* .shadow {
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 50px;
    box-shadow: 10px 10px 0 black;
} */

/* .practice-1 {
    width: 200px;
    padding: 10px 0;
    background: linear-gradient(90deg, #ff5800, #8b00be);
    border-radius: 30px;
    text-align: center;
    margin: 100px auto 0;
    box-shadow: 0 5px 0 rgba(255, 0, 0, 0.2);
    color: #fff;
    display: block;
} */

/* body {
    margin: 100px auto;
    width: 760px;
}
.practice-2 {
    display: flex;
    box-shadow: 0 0 6px #eeeeee;
}

.card__img {
    width: 40%;
}

.card__img img {
    width: 100%;
    vertical-align: top;
}

.card__content {
    padding: 15px;
}

.card__content-ttl {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.card__content-tag {
    font-size: 14px;
    display: inline-block;
}

.card__content-tag--red {
    margin-left: 40px;
    color: red;
} */

/* body {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.card {
    width: 30%;
    margin: 100px auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);;
}
.card__img img{
    width: 100%;
}

.card__content {
    padding: 10px 20px;
}

.card__content-ttl {
    background-color: #008888;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 15px;
}

.card__content-del {
    font-size: 18px;
    margin: 15px 0 30px 0;
    font-weight: 400;
}

.card__content-tag {
    display: inline-block;
    color: #008888;
    font-size: 14px;
    margin-left: 40%;
    margin: 0 0 15px 40%;
}

.card__content-tag--date {
    display: inline-block;
    color: #888888;
    font-size: 14px;
    margin-left: 20px;
} */

/* .practice-position {
    position: relative;
}

.practice-position__img {
    margin: 0 0 0 auto;
    display: block;
    width: 50%;
}

.practice-position__text {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 50px;
} */

/* .practice-float {
    width: 760px;
    margin: 60px auto;
}

.practice-float__ttl {
    font-size: 24px;
    margin-bottom: 20px;
}

.practice-float__img {
    width: 400px;
    margin: 0 0 20px 20px;
    float: right;
} */

/* * {
    color: white;
}
.grid__parent {
    display: grid;
    grid-template-rows: 300px 300px 100px 200px;
    grid-template-columns: 2fr 2fr 2fr 1fr;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background: red;
}

.box2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background: blue;
}

.box3 {
    grid-column: 2/4;
    grid-row: 1/2;
    background: green;
}

.box4 {
    grid-column: 2/4;
    grid-row: 2/3;
    background: pink;
}

.box5 {
    grid-column: 4/5;
    grid-row: 1/4;
    background: black;
}

.box6 {
    grid-column: 1/4;
    grid-row: 3/4;
    background: grey;
}

.box7 {
    grid-column: 1/3;
    grid-row: 4/5;
    background: skyblue;
}

.box8 {
    grid-column: 3/4;
    grid-row: 4/5;
    background: purple;
} */

.confirm__btn {
    position: relative;
    background-color: #55bbbb;
    width: 200px;
    display: block;
    padding: 18px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    margin: 100px auto;
}

.confirm__btn::before {
    content: "";
    background: url(../img/mail.svg) no-repeat;
    position: absolute;
    top: 50%;
    background-size: cover;
    left: 5px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}

.confirm__btn::after {
    content: "";
    background: url(../img/download__icon.svg) no-repeat;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 30px;
    height: 30px;
    background-size: cover;
    transform: translateY(-50%) rotate(-90deg);
}